h1{
    text-align: center;
    font-size: 25px;
    color: white;
}

body{
    overflow-x: hidden;
    height: 100%;
}

html{
    height: 600px;
}

#container{
    background-color: #2b2727;
    height: 100%;
}

#west-header{
    float: left;
    margin-left: auto;
    height: 100px;
    width: 20%;
}
#east-header{
    height: 100px;
    margin-left: 300px;
}

.menu{
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 100%;
    color: white;
    vertical-align: middle;
    line-height: 100px;
}

.menu:hover{
    cursor: pointer;
    background-color: #e59400;
}

#phone-button{
    float: right;
    width: 30%;
    height: 100%;
    font-size: 100%;
    text-align: left;
    vertical-align: middle;
    line-height: 100px;
    color: white;
    position: relative;

}
#animation{
    height: 350px;
    width: 100%;
    background-color: #323232;
}

#maincontent{
    height: 700px;
    width: 100%;
    background-color: #323232;

}

.info{
    background-color: #2b2727;
    display: none;
    width: 60%;
    height: 80%;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	text-align: justify-all;
	font-size:20px;
	color:white;
    overflow-y: scroll;
}

.info:nth-child(3){
	text-align:left;
}

#button{
    background-color: #e59400;
    position: absolute;
    height: 40px;
    width: 150px;
    top:30px;
    left: 150px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    color: white;
    border-radius: 10px;
}

#button:hover{
    cursor: pointer;
}

.exitbutton{
    width: 20px;
    height: 20px;
    margin-top: 3%;
    margin-left: 90%;
    text-align: center;
    vertical-align: center;
    line-height: 20px;
	border:solid;
	border-width:thin;
    color: white;
}

.exitbutton:hover{
    cursor: pointer;
    background-color: #e59400;
}

#skypenick{
    background-color: #2b2727;
    position: absolute;
    display: none;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    top: 15%;
    left: 80%;
    margin-right: -50%;

}
#skypebutton{
    background-color: #2b2727;
    height: 35px;
    width: 60px;
    top: 70%;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    border-radius: 10px;
    margin-left:70px;
    position: absolute;
    border-style: solid;
    border-color: white;
    color: white;
}

#skypebutton:hover{
    background-color: #e59400;
    cursor: pointer;
}

#podaj-nick-text{
    color: white;
    text-align: center;
}

#inputtext{
    width: 100px;
    height: 40px;
    font-size: 30px;
    margin-left: 50px;
}

#miniexit{
    color: white;
    margin-left:180px;
    height: 15px;
    width: 10px;
    text-align: center;
}

#miniexit:hover{
    cursor: pointer;
    background-color: #e59400;
}

#statsdiv{
    width: 50%;
    float: left;

}

#generalstats{
    height: 50px;
    border-style: solid;
    border-color: white;
    border-width: thin;
}

.showgeneralstats {
    float: left;
    margin-left: 15%;
	height:100%;
    display: inline;
}

.showgeneralstats:nth-child(1){
    margin-left: 5%;
}


#statsvisual1{
    float: left;
    background-color: crimson;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 30px;
    margin-top: 10px;
    animation-name: animstats;
    animation-duration: 3s;
    animation-iteration-count: infinite;
	color:white;
    font-size: 100%;
	text-align:center;
	line-height:30px;
}

#statsvisual2{
    float: left;
    background-color: green;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 30px;
    margin-top: 10px;
    animation-name: animstats;
    animation-duration: 3s;
    animation-iteration-count: infinite;
	color:white;
	text-align:center;
    font-size: 100%;
	line-height:30px;
}

#statsvisual3{
    float: left;
    background-color: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 30px;
    margin-top: 10px;
    animation-name: animstats;
    animation-duration: 3s;
    animation-iteration-count: infinite;
	color:white;
	text-align:center;
    font-size: 100%;
	line-height:30px;
}

.statsvisualbox{
	float: left;
	height:100%;
}


.infostat{
    float: left;
    color: white;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    font-size: 100%;
	
}

.countystats{
    height: 35px;
    border-style: solid;
    border-color: white;
    border-width: thin;
	font-size: 20px;
	line-height:35px;
	color: white;
	
}

.regionconfirmed{
	float:right;
	height:100%;
	width:5%;
	border-radius:20%;
	text-align:center;
	vertical-align:center;
	line-height:30px;
	font-size:1vw;
	background-color:red;
	color:white;
}

.regionrecoverd{
	float:right;
	height:100%;
	width:5%;
	border-radius:20%;
	text-align:center;
	vertical-align:center;
	line-height:30px;
	font-size:1vw;
	background-color:green;
	color:white;
}

.regiondeath{
	float:right;
	height:100%;
	width:5%;
	border-radius:20%;
	text-align:center;
	vertical-align:center;
	line-height:30px;
    font-size:1vw;
	background-color:black;
	color:white;
}

#map{
    float: right;
    width: 50%;
}

#mappl{
   margin-left: 10%;
}

#mappl path{
    fill: #2b2727;
    stroke: white;
}

#mappl path:hover{
	fill:black;
}

#interactivemapinfo{
	background-color: #2b2727;
    display: none;
    width: 15%;
    height: 20%;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
	border-width:thin;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 1vw;
	text-align:center;
	color:white;
	
	
}

#footer {
    background-color: #2b2727;
    text-align:left;
    color: white;
	height:100%;
}

.image{
	height: 90%;
	width:100%;
	display:none;
	opacity: 0;
}

@keyframes animstats {
    0% {height: 30px; width: 30px; margin-top: 10px; margin-left: 25px}
    50% {height: 40px; width: 40px; margin-top: 5px ; margin-left: 25px}
    100% {height: 30px; width: 30px; margin-top: 10px; margin-left: 25px}
}

@keyframes animinfo {
    0% {margin-left:5% }
    50% {margin-left: 10%}
    100% {margin-left: 5%}
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 50px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px;
}

